@page "/article/{Id:int}"
@inject DataContext Context
@attribute [StreamRendering]



@if (post is null)
{
    <p><em>Loading Blog Posts...</em></p>
}
else
{
    <PageTitle>@post.Title</PageTitle>
    <h3>@post.Title</h3>
    <a href="edit-article/@post.Id">Edit article</a>
    
    <div class="container">
        <p>@post.PublishedDate</p>
        <p>@post.Content</p>
    </div>
    <a href="/blog">Back to Blog</a>
}

@code {
    [Parameter] public int Id { get; set; }
    BlogPost? post = null;

    protected override async Task OnParametersSetAsync()
    {
        var result = await Context.BlogPosts.FindAsync(Id);
        if(result is not null)
        {
             post = result;
        }
    }

}
