@page "/"

<PageTitle>Home</PageTitle>

<header class="header position-relative mt-6 overflow-hidden">
    <img src="assets/decoration-star.svg"
         alt="image one"
         class="decoration-star position-absolute" />
    <img src="assets/decoration-star.svg"
         alt="image two"
         class="decoration-star-2 position-absolute" />
    <div class="container position-relative z-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="mt-6">
                    <h1 class="xl-text">The <span class="text-primary">Perfect</span> Office Space</h1>
                    <p class="lead mb-4">We specialize in transforming office spaces into inspiring and functional environments. Let us bring your vision to life.</p>
                    <a href="#" class="btn btn-primary btn-lg m-2">More Details</a>
                    <NavLink class="btn btn-outline-secondary btn-lg m-2" href="contact">
                        Contact Us
                    </NavLink>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">

                </div>
            </div>
        </div>
    </div>

</header>

